.main {
  width: 100%;
  margin: auto;
  background: white;
}

.containerStyle {
  display: flex;
  width: 98%;
  margin: 0 auto;
  justifycontent: space-between;
  alignitems: flex-start;
}
.content {
  width: 30%;
}

.ulGroupStyle {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.title {
  padding-left: 40px;
}
