.main {
  width: 100%;
  margin: auto;
  background: white;
}

.containerStyle {
  display: flex;
  width: 98%;
  margin: 0 auto;
  justifycontent: space-between;
  alignitems: flex-start;
}
.content {
  width: 30%;
}

.ulGroupStyle {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grouper {
  background-color: #f8eadd;
  margin: 0 30px;
  padding: 10px 1px;
  border-radius: 20px;
}

.title {
  padding-left: 40px;
}
