
.saveButton {
  padding: 5px 20px;
  background: rgb(33, 7, 231);
  border-radius: 30px;
  transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: none;
  margin-right: 20px;
  cursor: pointer;
  float: right;
}

.saveButton:hover {
  transition: all .2s ease-in-out;
  background: #000;
  color: #fff;
}

